DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/webontour

POSTGRES_DB=webontour
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

JWT_SECRET=WARNING_RUN_GENERATE_SECRETS
MASTER_SIGNUP_KEY=WARNING_RUN_GENERATE_SECRETS
PORT=3000
APP_URL=http://localhost:3000
ENABLE_PRISMA_STUDIO=false
WEATHER_API_KEY=

# Email
SMTP_HOST=mail.webontour.eu
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@webontour.eu
SMTP_PASSWORD=
SMTP_FROM=WEBonTour <info@webontour.eu>
